.loginFrom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
}

.loginForm-box {
  width: 50%;
  min-height: 50%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  border-radius: 10px;
}

.loginForm-box-left {
  width: 60%;
  /* background-color: aquamarine; */
}

.loginForm-box-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.loginForm-options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #555555;
}

.loginForm-options-wrapper .forgot-password-option,
.loginForm-options-wrapper .register-option > span {
  cursor: pointer;
  text-decoration: underline;
  cursor: pointer;
  color: #1677ff;
}

@media (max-width: 1200px) {
  .loginForm-box {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .loginForm-box {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .loginForm-box-left,
  .loginForm-box-right {
    width: 100%;
  }

  .loginForm-box-left {
    height: 200px;
    margin-bottom: 20px;
  }
}
