.profile-container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-box {
  width: 50%;
  height: 70%;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile-box .upper {
  height: 30%;
  display: flex;
  /* box-sizing: border-box;
  padding: 5px; */
}

.profile-box .upper .avatar-container {
  width: 25%;
  display: flex;
  justify-content: center;
  /* background-color: antiquewhite; */

  .ava-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: aquamarine;

    .ava-icon,
    .ava-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .ava-image {
      object-fit: cover;
    }
  }
}

.profile-box .upper .role-and-status {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  .role {
    font-size: 4.5rem;
  }

  /* CHỈ style cho Tag, không động vào .ant-tag nhiều quá */
  .status-tag {
    align-self: flex-start;
    margin-top: 4px;
    font-size: 1.6rem; /* nhỏ hơn role */
    line-height: 1;
  }
}

.change-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 4px;

  .title {
    font-weight: 700;
  }
}

.profile-divider {
  margin: 5px 0;
}

.profile-box .lower {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(229, 242, 204); */
}

.profile-box .lower .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .info-item .item-title {
    font-weight: 700;
    margin-bottom: 5px;
  }
}

.profile-box .lower .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .info-item .item-title {
    font-weight: 700;
    margin-bottom: 5px;
  }
}

.profile-box .button-area {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(215, 215, 247); */
}

@media (height <= 768px) {
  .profile-box {
    height: 90%;
    width: 70%;
  }
  .profile-box .upper {
    height: 20%;

    .avatar-container {
      width: 15%;
    }

    .role-and-status {
      .role {
        font-size: 2rem;
      }

      .status {
        font-size: 1rem;
        align-self: flex-start;
      }
    }
  }
}
