.resetPassword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
}

.resetPassword-box {
  width: 30%;
  min-height: 50%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .resetPassword-box {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .resetPassword-box {
    /* flex-direction: column; */
    width: 60%;
    height: auto;
  }
}
