.appHeader-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(rgb(3, 104, 48), rgba(93, 130, 7, 0));
}

.appHeader-logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.appHeader-search-input {
  width: 50%;
}

.appHeader-search-input .search-input {
  width: 100%;
  height: 100%;
}

.appHeader-noti-and-ava-wrapper {
  display: flex;
  gap: 7px;
}

.appHeader-avatar-wrapper {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
}

.appHeader-avatar-wrapper > img {
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .appHeader-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .appHeader-search-input {
    width: 70%;
  }

  .appHeader-noti-and-ava-wrapper {
    justify-content: center;
    width: 100%;
  }
}
